version: "3.1"
services:
  # db:
  #   container_name: mysqldb
  #   image: mysql
  #   restart: always
  #   environment:
  #     MYSQL_USER: root
  #     MYSQL_ROOT_PASSWORD: root
  #     MYSQL_DATABASE: covid_tracker_db
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - mysql-data:/var/lib/mysql

  bhanuka-app:
    build:
      context: .
    environment:
      DB_SCHEMA: covid_tracker_db
      DB_USER: root
      DB_PASSWORD: root
      DB_HOST: mysqldb
      DB_DIALECT: mysql
      DB_POOL_MAX: 5
      DB_POOL_MIN: 5
      DB_POOL_ACQUIRE: 30000
      DB_POOL_IDLE: 10000
      APP_PORT: 7000
      CORS_ORIGIN: http://localhost:8081
    # depends_on:
    #   - db
    ports:
      - "9000:7000"

volumes:
  mysql-data:
